<div class="landing-page">
  <header>
    <h1>Ravi de vous accueillir sur notre application </h1>
  </header>

  <section class="hero">
    <div class="hero-text">
      <p> Cette application facilite la gestion des actions et des événements !</p>
      <p>Explorez les fonctionnalités en utilisant le menu de navigation .</p>
    </div>
  </section>

  <section class="features">
  
    <div class="feature">
      <div class="feature-icon">
        <i class="fas fa-plus"></i>
      </div>
      <div class="feature-text">
        <h3>Incorporer de nouvelles actions</h3>
        <p>Ajoutez aisément de nouvelles actions en fournissant tous les détails nécessaires .        </p>
      </div>
    </div>


  </section>

  <section class="cta">    
    <a routerLink="/actions" class="btn btn-primary">
      Découvrir les actions !
    <i class="fas fa-arrow-right"></i>
    </a>
  </section>
</div>



  